.NewFeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.NewFeed-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.NewFeed .NewFeed-timer {
  font-size: 1.5rem; }

.NewFeed button {
  padding: 1rem 2rem; }

.NewFeed button.active {
  border: 2px solid darkcyan; }

.NewFeed-side {
  font-size: 2rem; }

.NewFeed-stop {
  font-size: 1.5rem; }
