.NewFeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.NewFeed-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.NewFeed button {
  margin: 0 .2rem;
  padding: 1rem 2rem;
  border: 2px solid transparent;
  border-radius: .5rem;
  background-color: paleturquoise;
  font-weight: bold; }

.NewFeed button.active {
  border: 2px solid darkcyan; }

.NewFeed-side {
  font-size: 2rem; }

.NewFeed-stop {
  font-size: 1.5rem; }
